# api service 

IMAGE_API_PORT=3000
IMAGE_API_HOST=0.0.0.0
IMAGE_API_CONTAINER_NAME=image-api

DATABASE_URL=url
REDIS_URL=redis_url

S3_ENDPOINT_URL=url
S3_ACCESS_KEY=asdf  
S3_SECRET_KEY=SFSDF
S3_BUCKET=SDFS
S3_REGION=DFDS

JWT_SECRET=FD
JTW_ALGORITHM=HS256
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7

UPLOAD_RATE_LIMIT=10
RATE_LIMIT_WINDOW_SECONDS=3600

MAX_UPLOAD_SIZE_MB=1000
PRESIGNED_URL_TTL_SECONDS=900

APP_ENV=dev
LOG_LEVEL=DEBUG

# db 

DB_CONTAINER_NAME=postgres
DB_PORT=5432
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_USER=myuser
POSTGRES_DB=mydb

# cache

CACHE_CONTAINER_NAME=redis
CACHE_PORT=6379

# storage

STORAGE_CONTAINER_NAME=minio
STORAGE_PORT=1234
